<link rel="stylesheet" href="/css/signin.css">
    <div class="container py-5 h-25 ">
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 card-container">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center review-tab" >
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 pb-4 text-uppercase"><%= reviewee.name %></h2>

                <form action="/users/review/assign" method="post">
                
                <input type="hidden" name="reviewee" value="<%=reviewee.id%>"/>
                <div class="form-outline form-white mb-4">
                  
                    <select class="form-select" aria-label="Default select example" name="reviewer">
                        <option value="">Select Employee</option>
                        <% for (emp in empList) { %>
                            <option value="<%=empList[emp].id%>" ><%= empList[emp].name %></option>
                        <% } %>
                      </select>

                </div>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Assign Review</button>
                
                </form>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
















<!-- <div style="margin-top: 5%;">
    employee review page
    <form action="/users/review/assign" method="post">
        <label for="reviewee" ><%= reviewee.name %></label>
        <input type="hidden" name="reviewee" value="<%=reviewee.id%>"/>
        <select class="form-select" aria-label="Default select example" name="reviewer">
            <option value="">Select Employee</option>
            <% for (emp in empList) { %>
                <option value="<%=empList[emp].id%>" ><%= empList[emp].name %></option>
            <% } %>
          </select>
        <input type="submit" value="Assign Review">          
    </form>
    
</div> -->